/* body {
  background-color: mediumturquoise;
  margin: 0;
  font-family: serif;
  color: #101357;
} */

/* .navbar {
  background: lightgray;
  height: 150px;
  padding: -20px;
}

.navbar-top {
  background: lightgray;
  width: auto;
  height: 150px;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 7px solid #fea49f; 
} */
